            <div class="col-md-4">
                <div class="sidebar">
                    <div class="row affiliate-widget">
                        <div class="col-md-12 col-sm-6">
                            <a href="#">
                                <img class="img-responsive" src="/images/300x250.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="row affiliate-widget">
                        <div class="col-md-12 col-sm-6">
                            <a href="#">
                                <img class="img-responsive" src="/images/300x250.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="row affiliate-widget">
                        <div class="col-md-12 col-sm-6">
                            <a href="#">
                                <img class="img-responsive" src="/images/300x250.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>